<header>
  <img
    src="assets/img/vicente.jpg"
    alt="Vicente de Paula Filho - Foto de Perfil"
    width="130px"
    height="130px"
    loading="eager"
  />
  <h1>Vicente de Paula Filho</h1>
</header>

<aside>
  <div class="container">
    <p>
      Desenvolvedor de Software Java | Feature Owner | Teach Lead | Engenheiro
      de Software
    </p>
    <p>Cascavel, Paraná, Brasil</p>
    <p>
      Sou um profissional de Tecnologia da Informação com uma sólida trajetória
      em desenvolvimento de software, especialmente utilizando tecnologias Java.
      Com mais de 20 anos de experiência no setor, acumulei uma vasta bagagem em
      diversas áreas, desde liderança técnica até análise de requisitos e
      implementação de boas práticas de desenvolvimento.
    </p>

    <nav>
      <ul>
        <li>
          <a href="assets/pdf/cv.pdf" target="_blank" class="btn btn-primary">
            Download Cv
          </a>
        </li>

        <li>
          <a
            href="https://www.linkedin.com/in/vicente-de-paula-filho-a6345231/"
            target="_blank"
            class="btn btn-secondary"
          >
            linkedIn
          </a>
        </li>
      </ul>
    </nav>

    <section>
      <figure>
        <img
          src="assets/icons/whatsapp.svg"
          alt="Ícone para contato do WhatsApp"
          width="22px"
          height="24px"
        />

        <figcaption>
          <a
            href="https://api.whatsapp.com/send?phone=5545991263615&text=Ol%C3%A1%20Vicente,%20preciso%20de%20um%20job!"
            target="_blank"
          >
            <strong>Envie uma mensagem para:</strong>
            <p>WhatsApp: (45) 45 991263615</p>
          </a>
        </figcaption>
      </figure>

      <figure>
        <img
          src="assets/icons/mail.svg"
          alt="Ícone para contato do e-mail"
          width="22px"
          height="24px"
        />

        <figcaption>
          <a href="mailto:vicentepf78@gmail.com" target="_blank">
            <strong>Envie um e-mail:</strong>
            <p>vicentepf78&#64;gmail.com</p>
          </a>
        </figcaption>
      </figure>
    </section>
  </div>
</aside>
